@model jiejiao.Models.Experiment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Experiment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repetitions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repetitions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.runMetricsEveryStep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.runMetricsEveryStep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exitCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exitCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enumeratedValueSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enumeratedValueSet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
